---
name: Mark stale issues and pull requests

on:
  schedule:
  - cron: "30 1 * * *"

jobs:
  stale:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/stale@v10
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        stale-issue-message: 'This issue has been automatically marked as stale due to inactivity. It will be closed if no further activity occurs.'
        stale-pr-message: 'This pull request has been automatically marked as stale due to inactivity. It will be closed if no further activity occurs.'
        stale-issue-label: 'no-issue-activity'
        stale-pr-label: 'no-pr-activity'
